{% extends 'home/base.html' %}
{%load static%}

{% block content %}
    <section class="text-center py-5" style="background-color:aliceblue;">
        <div class="container">
            <h1 class="display-4 mb-4">Mi nombre es Ana Paula Urban y este es mi proyecto Django</h1>
            <p class="lead" En esta pagina almacenamos de manera segura nuestra informacion sobre las ventas realizadas de accesorios para mascotas, 
            creando una base de datos util y facil de gestionar.
            Para realizar compras podes contactarte con nuestros vendedores a traves desde link de Whatsapp en nuestra pagina de inicio.
            Nos apasiona celebrar la especial relacion que existe entre las mascotas y sus familias!>
        </div>
    </section>
{% endblock %}
